<ng-container *ngIf="(auth | async)?.tk===null">
    <div class="row form-login">
        <div class="col-4">
            <form action="" name="formLogin" [formGroup]="reactiveForm" (ngSubmit)="accedi()">
                <label for="utente"
                    [ngClass]="{'is-invalid':reactiveForm.controls[ 'utente'].errors}">Utente</label><br>
                <input type="text" name="utente" id="utente" formControlName="utente"
                    [ngClass]="{'is-invalid':reactiveForm.controls['utente'].errors}"><br>
                <label for="password"
                    [ngClass]="{'is-invalid':reactiveForm.controls['password'].errors}">Password</label><br>
                <input type="password" name="password" id="password" formControlName="password"
                    [ngClass]="{'is-invalid':reactiveForm.controls['password'].errors}"><br><br>
                <button type="submit" class="btn btn-primary" [disabled]="!reactiveForm.valid">
                    Accedi
                    <div class="spinner-border text-warning" role="status" *ngIf="stoControllando">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </button>
                <br>
                <div>DEBUG:</div>
                <div>E' valido reactiveform? {{ reactiveForm.valid | json}}</div>
            </form>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="(auth | async)?.tk!==null">
    <div class="row form-login">
        <div class="col-4">
            Benvenuto utente
        </div>
    </div>
</ng-container>
<div>Sto controllando? {{ stoControllando | json}}</div>