<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)" title="vai alla home" [routerLink]="['/']">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" title="vai a chi siamo" [routerLink]="['/chisiamo']"
                        [routerLinkActive]="['attivo']">Chi siamo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" title="vai a contatti" [routerLink]="['/contatti']"
                        [routerLinkActive]="['attivo']">Contatti</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" title="vai a tipologie" [routerLink]="['/tipologie']"
                        [routerLinkActive]="['attivo']">Tipologie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" title="vai a categorie" [routerLink]="['/categorie']"
                        [routerLinkActive]="['attivo']">Categorie</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0)" title="vai a accedi" [routerLink]="['/accedi']"
                        [routerLinkActive]="['attivo']">Accedi</a>
                </li>
            </ul>
        </div>
    </div>
</nav>