/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';


.text-warning {
    color: #ff9900 !important;
  }

.btn-primary{
    background-color: #ff9900;
    border-color:#ff9900;
}

.bg-warning{
    background-color: #ff9900 !important;
}

a{
    color: #ff9900;
    text-decoration: none;
}